.root {
  width: 760px;
  height: 557px;
  position: relative;
  margin-right: -115px;
  overflow: hidden;
}

.smallPokeBall {
  position: absolute;
  right: 67%;
  bottom: 75%;
}

.cloud {
  position: absolute;
  right: 64%;
  top: 50%;
}

.cloudBig {
  position: absolute;
  left: 50%;
  top: 0%;
}

.pokeBall {
  position: absolute;
  left: 60%;
  bottom: 30%;
}

.pikachu {
  position: absolute;
  top: -2%;
  right: 25%;
}

@media (max-width: 768px) {
  .root {
    width: 750px;
    margin-right: -17px;
  }
}
