.root {
  //width: 793px;
  //height: 557px;
  position: relative;
  margin-right: -115px;
  overflow: hidden;
  // overflow-y: hidden;
}

.smallPokeBall {
  position: absolute;
  right: 67%;
  bottom: 67%;
}

.cloud {
  position: absolute;
  right: 64%;
  top: 50%;
}

.cloudBig {
  position: absolute;
  left: 50%;
  top: 10%;
}

.pokeBall {
  position: absolute;
  left: 73%;
  bottom: 30%;
}

.pikachu {
  position: absolute;
  top: -2%;
  right: 28%;
}
