@import '../../variables';

.link {
  @include font(normal, normal, 25px, 29px, $dark);
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
  }

  &:hover,
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
