@import '../../variables';

.root {
  height: 100%;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 500px auto;
  padding-top: 67px;
  padding-bottom: 67px;
}

.contentText {
  height: 557px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.heading1 {
  @include font(normal, normal, 72px, 84px, $dark);
}

.heading2 {
  @include font(normal, normal, 32px, 37px, $dark);
}

.pockeButton {
  color: $dark;
}
