@import '../../variables';

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  height: 100%;
  display: flex;
  flex: wrap;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
}

.contentText {
  width: 516px;
  height: 557px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contentParallax {
  //display: block;
  // justify-content: space-between;
  // align-items: flex-start;
}

.heading1 {
  @include font(normal, normal, 72px, 84px, $dark);
}

.heading2 {
  @include font(normal, normal, 32px, 37px, $dark);
}

.pockeButton {
  color: $dark;
}
