@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import '../../variables';

.root {
  height: 93px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $third;
  box-shadow: 0px 6px 10px rgba(1, 28, 64, 0.2);
}

.logo svg {
  max-width: 169px;
  min-height: 63px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 658px;
  width: 100%;
  justify-content: space-between;
}

.link {
  @include font(normal, normal, 25px, 29px, $dark);
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
  }

  &:hover,
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .root {
    justify-content: space-between;
  }

  .nav {
    width: 555px;
  }
}

@media (max-width: 500px) {
  .nav {
    display: none;
  }
}
