@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@mixin font {
  font-family: Karla, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 87px;
  margin: 33px;
  list-style: none;

  .w50 {
    width: 50%;
  }

  .makeLove {
    padding-left: 30px;
    @include font;
  }

  .ourTeam {
    text-decoration: none;
    @include font;
    padding-left: 463px;
  }
}
