.footerText {
  position: absolute;
  left: 8.88%;
  right: 13.05%;
  top: 94.63%;
  bottom: 3.22%;
}

.makeWithLove {
  position: absolute;
  left: 0%;
  right: 90.04%;
  top: 4.55%;
  bottom: 0%;
}

.ourTeam {
  position: absolute;
  width: 91px;
  right: -0.16px;
  top: 4.55%;
  bottom: 0%;
}

.h3 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.pharagraph {
  color: #212121;
}
