.header {
  position: absolute;
  width: 1440px;
  height: 93px;
  left: 1px;
  top: 0px;
}

.groupe95 {
  position: absolute;
  width: 1125px;
  height: 63px;
  left: 157px;
  top: 14px;
  border-radius: 0px;

  z-index: 1;
}

.logo {
  height: 63px;
  width: 157px;
  border-radius: 0px;

  position: absolute;
  left: 10.9%;
  right: 78.18%;
  top: 15.05%;
  bottom: 17.2%;
}

.groupe {
  height: 63px;
  width: 157px;
  border-radius: 0px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.navbar {
  position: absolute;
  left: 43.37%;
  right: 10.97%;
  top: 24.73%;
  bottom: 26.88%;
}

.menuItemActive {
  position: absolute;
  left: 0%;
  right: 87.8%;
  top: 0%;
  bottom: 0%;
}

.menuItem1 {
  position: absolute;
  left: 22.27%;
  right: 64.54%;
  top: 0%;
  bottom: 17.78%;
}

.menuItem2 {
  position: absolute;
  left: 45.53%;
  right: 35.18%;
  top: 0%;
  bottom: 17.78%;
}

.menuItem3 {
  position: absolute;
  left: 74.89%;
  right: 0%;
  top: 0%;
  bottom: 17.78%;
}

.pharagraph {
  color: #212121;
}

.home {
  position: absolute;
  left: 9.3%;
  right: 7.16%;
  top: 0%;
  bottom: 35.56%;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
}

.line1 {
  position: absolute;
  left: 9.3%;
  right: 12.79%;
  top: 100%;
  bottom: 0%;
}

.pokedex {
  position: absolute;
  left: 0%;
  right: -9.54%;
  top: 0%;
  bottom: 21.62%;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}

.legendaries {
  position: absolute;
  left: 0%;
  right: -9.59%;
  top: 0%;
  bottom: 21.62%;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}

.documentation {
  position: absolute;
  left: 0%;
  right: -8.44%;
  top: 0%;
  bottom: 21.62%;

  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}

.headerContainer {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.rectangle2 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.third {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #f5db13;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}
