@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$back-color: #f5db13;
$shadow-color: rgba(1, 28, 64, 0.2);
$active-link-color: #212121;
$link-color: #000000;

@mixin font {
  font-family: Karla, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
}

@mixin header($left: 0px) {
  position: fixed;
  height: 93px;
  width: 100%;
  left: $left;
  top: 0px;
  border-radius: 0px;
}

@mixin groupe($width: 0px, $left: 0px, $top: 0px) {
  position: absolute;
  height: 63px;
  width: $width;
  left: $left;
  top: $top;
  border-radius: 0px;
}

@mixin navbar($width: 0px, $left: 0px, $top: 0px) {
  position: absolute;
  height: 45px;
  border-radius: 0px;
  width: $width;
  left: $left;
  top: $top;
}

@mixin menu-item-text($width: 0px, $left: 0px) {
  position: absolute;
  height: 29px;
  width: $width;
  border-radius: 0px;

  text-decoration: none;
  left: $left;
  top: 0px;

  color: $link-color;
  @include font;
}

.header {
  $left: 1px;
  @include header($left);

  .groupe95 {
    $width: 1140px;
    $left: 157px;
    $top: 14px;
    @include groupe($width, $left, $top);

    z-index: 1;

    .logo {
      $width: 157px;
      @include groupe($width);
    }

    .groupe {
      $width: 157px;
      @include groupe($width);
    }

    .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      $width: 1140px;
      $left: 43.37%;
      $top: 24.73%;
      @include navbar($width, $left, $top);

      .menu {
        list-style: none;
      }

      .menuItemActive {
        $width: 80px;
        @include navbar($width);

        .home {
          $width: 67px;
          $left: 10px;
          @include menu-item-text($width, $left);
        }

        .line1 {
          position: absolute;
          height: 0px;
          width: 62px;
          left: 7px;
          top: 45px;
          border-radius: 0px;

          border: 3px solid $active-link-color;
        }
      }

      .menuItem1 {
        $width: 86px;
        $left: 146px;
        @include navbar($width, $left);

        .pokedex {
          $width: 95px;
          @include menu-item-text($width);
        }
      }

      .menuItem2 {
        $width: 126px;
        $left: 300px;
        @include navbar($width, $left);

        .legendaries {
          $width: 139px;
          @include menu-item-text($width);
        }
      }

      .menuItem3 {
        $width: 165px;
        $left: 493px;
        @include navbar($width, $left);

        .documentation {
          $width: 179px;
          @include menu-item-text($width);
        }
      }
    }
  }

  .headerContainer {
    @include header();

    .rectangle2 {
      @include header();
    }

    .third {
      background: $back-color;
      box-shadow: 0px 4px 16px $shadow-color;
    }
  }
}
