@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$back-color: #f5db13;
$shadow-color: rgba(1, 28, 64, 0.2);
$active-link-color: #212121;
$link-color: #000000;

@mixin font {
  font-family: Karla, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 93px;
  padding: 0px 0px;
  background: gold;

  .w30 {
    width: 40%;
  }

  .w70 {
    width: 60%;
  }

  .logo {
    box-sizing: border-box;
    padding-left: 157px;
  }

  .nav {
    display: flex;
    padding-right: 144px;
    list-style: none;

    .li {
      flex: 1 1 auto;
    }

    .font {
      @include font;
      text-decoration: none;
      color: #000000;
    }
  }
}
