@import '../../variables';
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@mixin font {
  font-family: Karla, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $dark;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 66px;
}

.wrap {
  width: 100%;
  max-width: 1125px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.makeLove {
  @include font;
  width: 112px;
  height: 21px;
}

.ourTeam {
  text-decoration: none;
  @include font;
  width: 91px;
  height: 21px;
}
