.forFooter {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  background: #f5db13;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.padding {
  padding-top: 100px;
  padding-bottom: 1000px;
}
