@import '../../variables';
@import '../../breakpoints';

.root {
  background: $white;
  padding-top: 10px;
}

.containerWrap {
  display: grid;
  grid-template-rows: repeat(2, auto) 575px auto;
  grid-template-columns: minmax(375px, 1fr);
  grid-gap: 1rem;
  justify-items: stretch;
}

.containerInput {
  height: 183px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  @include font(normal, normal, 35px, 41px, $dark);
  padding-bottom: 20px;

  p {
    margin: 0;
  }
}

.inputWrap {
  width: 95%;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    height: 53px;
    width: 95%;
    border-radius: 40px;
    outline: 0;
    background: #f2f2f2;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: rgba(33, 33, 33, 0.8);
  }
}
// TODO: сделать окно с фильтрами для телефона
.filtersConteiner {
  height: 30px;
  // width: 533px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
}

.cardConteiner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  // width: 90%;
}

.loader {
  height: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .containerWrap {
    grid-template-rows: repeat(4, auto);
  }

  .heading {
    width: 80%;
  }

  .filtersConteiner {
    // width: 322px;
    width: 95%;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .filtersConteiner {
    // width: 322px;
    width: 95%;
    margin-left: 20px;
  }
}

@media (max-width: 500px) {
  .root {
    z-index: 1000;
  }
  .heading {
    width: 316px;
  }

  .inputWrap input {
    height: 31px;
  }

  .filtersConteiner {
    width: 300px;
    margin-left: 25px;
    justify-content: space-between;

    :nth-child(3),
    :nth-child(2) {
      display: none;
    }
  }
}
